# Virtual environment
venv/

# Pytest cache
.pytest_cache/

# Playwright browsers
playwright/.local-browsers/

# Test reports
reports/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
